.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: white;
}

.wrapper {
  padding: 25px;
  border: 0.1px solid rgb(96, 96, 96);
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  background: rgba(2, 2, 2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px); */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.appImage {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 3%;
}

